.slider-menu-home {
	width: 100%;
	height: 200px;
	background: #231109;
	margin: 0 0 40px 0;
}

.jimgMenu {
	position:relative;
	margin: 0px;
	padding: 0px;
	width: 99,5%;
	height: 200px;
	overflow: hidden;
	border: 2px solid #231109;
}
.jimgMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	position: relative;
	}	
.jimgMenu ul li {
	width: 137px;
	float: left;
	display: block;
	overflow: hidden;
}
.jimgMenu ul li a {
	text-indent: -1000px;
	border-left: 5px solid #231109;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 200px;
}

.jimgMenu ul li.concurso a {
	background: url(images/concurso.jpg) repeat scroll 0%;
}

.jimgMenu ul li.consulta a {
	background: url(images/consulta.jpg) repeat scroll 0%;
}

.jimgMenu ul li.colecao a {
	background: url(images/colecao.jpg) repeat scroll 0%;
}
.jimgMenu ul li.acoes a {
	background: url(images/acoes.jpg) repeat scroll 0%;
}
.jimgMenu ul li.intolerancia a {
	background: url(images/intolerancia.jpg) repeat scroll 0%;
}
.jimgMenu ul li.formacao a {
	background: url(images/formacao.jpg) repeat scroll 0%;
}
.jimgMenu ul li.cor a {
	background: url(images/cor.jpg) repeat scroll 0%;
}










.subcontent-relacoes {
	background: url('images/bg-colecao-home.jpg') no-repeat;
	width: 100%;
	min-height: 250px;
	overflow: hidden;
}


.intro-relacoes-home {
	width: 310px;
	height: 270px;
	float: left;
	margin: 30px 0 0 30px;
}

.intro-relacoes-home p {
	font-size: 1em;
	line-height: 1.5em;
}

.logo-relacoes-home {
	width: 295px;
	height: 270px;
	float: left;
	margin: 40px 0 0 40px;
}

.indiques-relacoes-home {
	width: 220px;
	height: 310px;
	float: right;
	margin: 15px 0 0 0;
}

.subcontent-cartazes {
	width: 100%;
	height: 300px;
	background: url('images/bg-cartazes-home.jpg')no-repeat;
}

.esquerda-subcontent-cartazes {
	width: 70%;
	max-width: 900px;
	height: 250px;
	float: left;
}

.esquerda-subcontent-cartazes h1 {
	width: 100%;
	font-size: 2em;
}

.content-esquerda-subcontent-cartazes {
	width: 100%;
	max-width: 900px;
	min-height: 290px;
}

.intro-cartazes-home {
	width:20%;
	height: auto;
	float: left;
	margin: 10px 0 0 30px;
}

.slider-cartazes-home {
	width: 75%;
	float: left;
	height: 200px;
	margin: 10px 0 0 0;
}

/* SLIDER */

.slider {
	width: 90%;
	margin: 0 auto;
	height: 150px;
	overflow: hidden;
	position: relative;
}

.titulo-slider {
	color: #FFF;
	position: absolute;
	left: 80px;
	top: 40px;
	font-size: 30px;
	text-transform: uppercase;
}

.seta-esquerda {
	width: 80px;
	height: 150px;
	position: absolute;
	background: url("images/setas.png") no-repeat scroll 2px 0px;
	left: 0;
	top: 0;
	z-index: 999999;
}

.seta-esquerda:hover {
	background-position: 0px 0px;
}

.seta-esquerda a {
	width: 80px;
	height: 150px;
	position: absolute;
	text-indent: -9999px;
}

.seta-direita {
	width: 80px;
	height: 150px;
	position: absolute;
	background: url("images/setas.png") no-repeat scroll -66px 0px;
	right: 0;
	top: 0;
	z-index: 999999;
}

.seta-direita:hover {
	background-position: -64px 0px;
}

.seta-direita a {
	width: 80px;
	height: 150px;
	position: absolute;
	text-indent: -9999px;
}

.list_carousel {
    max-height: 150px;
    overflow: hidden;
	width: 100%;
	position: relative;
}

.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_carousel li {
    font-size: 14px;
    width: auto;
	height: auto;
	overflow: hidden;
    padding: 0;
    margin: 0 1px 0 1px;
    display: block;
    float: left;
	background: url(images/loader.gif) 20px 20px no-repeat;
	position: relative;
	margin:0 15px;
}

.list_carousel li img {
	width: 100%;
}

.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}

.list_carousel .clearfix {
    float: none;
    clear: both;
}



.list_carousel a.prev {

    background: url("images/setas.png") no-repeat scroll -5px center transparent;
    display: block;
    min-height: 70px;
	position: absolute;
    top: 40%;
    width: 70px;
	z-index: 50;



}



.list_carousel a.next {
    background: url("images/setas.png") no-repeat scroll -75px center transparent;
	display: block;
	min-height: 70px;
    position: absolute;
    top: 40%;
    width: 70px;
	z-index: 50;
	/* add */
	right: 0;
}

.caroufredsel_wrapper {
	width: 100% !important;
	min-height: 150px !important;
	left: 0 !important;
	right: 0 !important;
}
.caroufredsel_wrapper ul {
	margin: 0 !important;
	padding: 0 !important;
}
.list_carousel a.prev.disabled, a.next.disabled {
    cursor: default;
}
.list_carousel a.prev span, a.next span {
    display: none;
}



/* carousel */
#carousel_wrap {
	height: 150px;
	left: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}
body.single-projects #carousel_wrap { margin: 15px 0 30px }

ul#carousel li {
	display: block;
	float: left;
	height: 150px;
	margin: 0 3px;
	max-width: 900px;
	/*width: 100% !important;*/
	position: relative;
    text-align: center;
    overflow: hidden;
}
ul#carousel li img {
	max-width: 100%;
}
ul#carousel li .content {
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
}
ul#carousel li .content > div {
	padding: 30px;
}
ul#carousel li .content p { margin-bottom: 0; }

ul#carousel li .content.center {
	bottom: 40%;
	text-align: center;
	width: 100%;
}

.bottom-left, .bottom-right { bottom: 1px; max-width: 50% }
.bottom-left { left: 1px; text-align: left; }
.bottom-right { right: 1px; text-align: right; }

.carousel_nav {
	/* background-color: rgba(255, 255, 255, 0.5); */
	height: 150px;
    position: absolute;
    top: 0;
    width: 50%;
}

#carousel_wrap a.prev3 {
    background: url("images/setas.png") no-repeat scroll -5px center transparent;
    display: block;
    min-height: 70px;
	position: absolute;
    top: 40%;
    width: 70px;
	z-index: 50;
	text-indent: -200px;
}

#carousel_wrap a.next3 {
    background: url("images/setas.png") no-repeat scroll -75px center transparent;
	display: block;
	min-height: 70px;
    position: absolute;
    top: 40%;
    width: 70px;
	z-index: 50;
	right: 0;
	text-indent: -200px;
}


.pagina-interna {
	background: url("images/bg-page.png") transparent;
	min-height: 688px;
}

.pagina-404 {
	min-height: 688px;
}


.entry-header .entry-title {
	font-size: 50px;
	line-height: 1;
	font-weight: bold;
	color: #231109;
}

.center {
	text-align: center;
}

.entry-content {
	padding: 30px;
	font-size: 15px;
	color: #231109;
}

.elemento-page {
	width: 1000px;
    background: url("images/elemento-page.png") no-repeat scroll 0 0 transparent;
    height: 932px;
    left: -50px;
    overflow: hidden;
    position: absolute;
    top: 300px;
	z-index: -1111;
}

/* SLIDER */

.direita-subcontent-cartazes {
	width: 30%;
	float: left;
	height: 300px;
	background:#540544;
}

.direita-subcontent-cartazes h1 {
	width: 100%;
	font-size: 2em;
}

.bg-footer {
    background: none repeat scroll 0 0 #231109;
    height: 123px;
    margin: -123px 0 0;
    position: absolute;
    width: 100%;
    z-index: -9;
}

#colophon {
	color: #f2dcc7;
	min-height: 70px;
	width: 100%;
}

.frase-rodape {
	width: 30%;
	max-width: 400px;
	height: 50px;
	float: left;
	margin: 25px 0 0 0;
}

.redes-rodape {
	width: auto;
	max-width: 500px;
	height: 50px;
	float: right;
	margin: 12px 0 0 0;
}

.redes-rodape h1 {
	float: left;
	margin: 11px 15px 0 0; 
	color: #f2dcc7;
}

.redes-rodape ul {
	float: left;
}